#### 1. Print a message

Print "Hello, World!"

In [2]:
print("Hello, World")

Hello, World

#### 2. Variables and Operators
Let:

a = 10, b = 3, c = 10, d = "python"

Perform the following:
a. a + b

b. a - b

c. a * b

d. a / b

e. a % b

f. a ** b

g. Is a even and b even?

h. Is a even or b even?

i. Is either a or b true, but not both?

j. Is a == b?

k. Is a != b?

l. Do a and c refer to the same Python object?

m. What is the fifth letter in d?

n. Return the first 3 letters in d.

In [4]:
a = 10
b = 3
c = 10
d = "python"

In [5]:
a + b

13

In [6]:
a - b

7

In [7]:
a * b

30

In [8]:
a/b

3.3333333333333335

In [9]:
a % b

1

In [10]:
a // b

3

In [11]:
a ** b

1000

In [12]:
(a % 2 == 0) & (b % 2 == 0)

False

In [13]:
(a % 2 == 0) | (b % 2 == 0)

True

In [14]:
(a % 2 == 0) ^ (b % 2 == 0)

True

In [15]:
a == b

False

In [16]:
a != b

True

In [17]:
a is c

True

In [18]:
d[4]

'o'

In [19]:
d[:3]

'pyt'

#### 3. Salary Calculation

wages = 100   # per hour, hours = 40

a. Calculate the salary.

b. Return text:

"At a rate of $100 per hour, working for 40 hours resulted in a salary of $4000."

In [21]:
wages = 100
hours = 40
salary = wages * hours
salary

4000

In [22]:
print(f"at the rate of ${wages} per hour, working for {hours} resulted in a salry of ${salary}")

at the rate of $100 per hour, working for 40 resulted in a salry of $4000

#### 4. Numbers from 1 to 100
a. Create a list of numbers from 1 to 100.

For each number, indicate if it is divisible by 3.

b. Count how many numbers are divisible by 3.

In [24]:
list_100 = list(range(101))
list_100

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [25]:
count = 0
for x in list_100:
    if x%3 == 0:
        count +=1
print(count)

34

#### 5. Working with Dates
Create a datetime variable:

dt = January 20, 2025, 10:30 PM


a. Extract the date and time from dt.

b. Convert dt to a string.

c. Create another datetime dt2 = February 15, 2025.

d. How many days are between dt and dt2?

e. What is the date 10 days after dt2?

In [27]:
from datetime import datetime, date, time

In [28]:
dt = datetime(2025,1,20,22,30,0)

In [29]:
dt.date()

datetime.date(2025, 1, 20)

In [30]:
dt.time()

datetime.time(22, 30)

In [31]:
dt.strftime("%Y-%M-%d %H:%M")

'2025-30-20 22:30'

In [32]:
dt2 = datetime(2025, 2, 15, 0, 0, 0)

In [33]:
dt2 - dt

datetime.timedelta(days=25, seconds=5400)

In [38]:
from datetime import timedelta
dt2_plu_10_days = dt2 + timedelta(days=10)
print(dt2_plu_10_days)

2025-02-25 00:00:00

In [48]:
import datetime
dt3 = dt2 + datetime.timedelta(days = 10)
dt3

datetime.datetime(2025, 2, 25, 0, 0)

#### 6. Laptop Cost Classification
Given:

cost = 1000000

Classify the laptop as:

Low-end: < 300,000

Mid-range: 300,001 – 700,000

High-end: > 700,000

In [55]:
laptop_cost = 1000000
if laptop_cost < 300000:
    print("Low end")
elif laptop_cost <= 700000:
    print("Mid range")
else:
    print("High end")

High end

#### 7. Sum of Numbers Divisible by 3
Find the sum of all numbers divisible by 3 in the range 1–50.

In [78]:
list_1_50 = list(range(51))
sum30 = 0
for x in list_1_50:
     if x%3 == 0:
         sum30 += x
print(sum30)

408

#### 8. Positive, Negative, or Zero
Write a program that checks if a number is positive, negative, or zero.

In [86]:
def check_number(x):
    if x < 0:
        print("negative_no")
    elif x > 0:
        print("positive_no")
    else:
        print("zero")
check_number(25)

positive_no

In [88]:
check_number(-5)

negative_no

In [90]:
check_number(0)

zero

#### 9. Multiplication Table (For Loop)
Use a for loop to print the multiplication table of 7 (from 7 × 1 up to 7 × 10).

In [115]:
for x in list(range(1,11)):
    print(f"7 * {x} = ", 7 * x)

7 * 1 =  7
7 * 2 =  14
7 * 3 =  21
7 * 4 =  28
7 * 5 =  35
7 * 6 =  42
7 * 7 =  49
7 * 8 =  56
7 * 9 =  63
7 * 10 =  70

11. Countdown (While Loop)
Use a while loop to count down from 10 to 1, then print "Liftoff!".

In [134]:
x = 10
while x > 0:
    print(x)
    x -= 1
else:
     print( "Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!